@model CI_PlatformWeb.Models.VolunteeringVM;
@{
    Layout = "_One-NavbarLayout";
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/Volunteering.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/landing.css" asp-append-version="true" />






</head>

<body>
    @{
        var useridforrating = Context.Session.GetInt32("userIDforfavmission");
    }
    @* <div id="preloader"></div>*@
    <div class="container" style="margin-top:150px">
        <div class="filters-section d-flex align-items-center flex-wrap justify-content-center">
        </div>
        <div class="row">

            <div class="col-12 col-lg-6 col-md-12 col-sm-12">
                <div class="container p-0">


                    @{
                        int num = 0;
                    }
                    @if (ViewBag.missionmediacount != 0)
                    {
                        @foreach (var media in ViewBag.missionmedia)
                        {

                            @if (media.MediaType == "Video")
                            {
                                num++;
                                <div class="mySlides">
                                    <div class="numbertext">@num/ @ViewBag.missionmediacount</div>
                                    <iframe class="img-fluid vol-page-crousel" id="vol-page-crousel"
                                src=@media.MediaPath style="height:355px;object-fit:cover;width:100%" alt=""></iframe>

                                </div>
                            }
                            else
                            {
                                num++;
                                <div class="mySlides">
                                    <div class="numbertext">@num/ @ViewBag.missionmediacount</div>
                                    <img src="@media.MediaPath" style="height:355px;object-fit:cover;width:100%">
                                </div>
                            }
                        }
                    }
                    else
                    {
                        <div class="mySlides">
                            
                            <img src="~/Images/noimage.png" style="height:355px;object-fit:cover;width:100%">
                        </div>
                    }



                    <!-- Next and previous buttons -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>

                    <!-- Image text -->
                    <!-- Thumbnail images -->
                    <div class="row mt-1" style="flex-wrap: inherit;overflow-x: scroll;height:100px;">
                        @* <div class="column" style="width:25%">
                        <img class="demo cursor" src="/Images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
                        </div>
                        <div class="column" style="width:25%">
                        <img class="demo cursor" src="/Images/img1.png" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
                        </div>
                        <div class="column" style="width:25%">
                        <img class="demo cursor" src="/Images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
                        </div>
                        <div class="column" style="width:25%">
                        <img class="demo cursor" src="/Images/img11.png" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
                        </div>*@
                        @{
                            int num1 = 0;
                        }
                        @foreach (var media in ViewBag.missionmedia)
                        {
                            num1++;
                            @if (media.MediaType == "Video")
                            {
                                <div class="col-6 col-lg-3 col-md-4" >
                                    <iframe src=@media.MediaPath title="W3Schools Free Online Web Tutorials" onclick="currentSlide(@num1)" style="overflow:hidden;width:100%;height:70px;"></iframe>
                                </div>
                            }
                            else
                            {
                                <div class="col-6 col-lg-3 col-md-4">
                                    <img class="demo cursor" src="@media.MediaPath" style="width:100%;height:70px;" onclick="currentSlide(@num1)" alt="Northern Lights">
                                </div>
                            }
                        }

                    </div>

                </div>
            </div>

            <div class="card col-12 col-lg-6 col-md-12 col-sm-12">
                <div class="card-body">
                    <div class="card-title">
                        @Model.SingleTitle
                    </div>
                    @*<div class="card-subtitle text-muted">
                    @ViewBag.Missiondetail.ShortDescription
                    </div>*@
                    @if (Model.missionType == "time")
                    {
                        <div class="rule d-flex mt-4">
                            <hr style="border:1px solid black">
                            <button class="date-btn mt-1">@Model.StartDateEndDate</button>
                            <hr style="border:1px solid black">

                        </div>
                    }
                    else
                    {
                        <div class="rule d-flex mt-4">
                            <hr style="border:1px solid black">
                            <button class="date-btn mt-1">@Model.GoalText</button>
                            <hr style="border:1px solid black">

                        </div>
                    }
                    <div class="row landing-page-box-border">

                        <div class="col-6 col-md-6 d-flex align-items-center" id="availableseat">
                            <p class="lead me-2 pt-2">
                                <img src="~/images/Seats-left.png" alt="">
                                <div>
                                    <div>@Model.available</div>
                                    @if (Model.isapplied == 1)
                                    {
                                        <div class="landing-page-card-vol-small">Already Valunteered</div>
                                    }
                                    else
                                    {

                                        <div class="landing-page-card-vol-small">Seats Left</div>
                                    }
                                </div>
                            </p>
                        </div>
                        <div class="col-6 col-md-6 d-flex align-items-center">
                            @if (Model.missionType == "time")
                            {
                                <div class="col-6 col-md-6 d-flex align-items-center">
                                    <p class="lead me-2 pt-2">
                                        <img src="~/images/deadline.png" alt="">
                                        <div>
                                            <div>@Model.EndDate.ToString().Split(" ")[0]</div>
                                            <div class="landing-page-card-vol-small">Deadline</div>
                                        </div>
                                    </p>
                                </div>
                            }
                            else
                            {
                                <p class="lead me-2 pt-2">
                                    <img src="~/images/achieved.png" alt="">
                                    <div style="width: 100%;">
                                        <div>

                                            <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="@Model.progress"
                                             aria-valuemin="0" aria-valuemax="@Model.goal" style="height: 10px;">
                                                <div class="progress-bar bg-warning" style="width:@Model.progressInPerc%"></div>
                                            </div>

                                        </div>
                                        <div class="landing-page-card-vol-small">@Model.progress achived</div>
                                    </div>
                                </p>
                            }
                        </div>
                    </div>
                    @{

                    }
                    <div class="row">
                        @if (useridforrating != null)
                        {
                            <div class="col  col-12  col-xl-5 col-lg-12 col-md-5 col-sm-12  me-xl-4 me-md-4 rounded-5 d-flex mt-3  Addfavourite   justify-content-center " id="favmissiondiv1" onclick="addtofav(@Model.MissionId,@ViewBag.userid)">


                                <i class="bi bi-heart-fill" id="heart" style="@(ViewBag.fav==true ? "color:#F88634;" : "color:black;")"></i>
                                @if (ViewBag.fav == true)
                                {
                                    <label class="ms-2" id="favmissiondiv" style="@(ViewBag.fav==true ? "color:#F88634;" : "color:black;")">Remove From Favourite</label>

                                    <i class="spinner-border spinner-border-sm mt-1 ms-2" role="status" id="spinner" style="display:none;color:orange"></i>
                                }
                                else
                                {
                                    <label class="ms-2" id="favmissiondiv" style="@(ViewBag.fav==true ? "color:#F88634;" : "color:black;")">ADD to Favourite</label>

                                    <i class="spinner-border spinner-border-sm mt-1 ms-2" role="status" id="spinner" style="display:none"></i>
                                }



                            </div>
                        }
                        else
                        {
                            <div class="col  col-12  col-xl-5 col-lg-12 col-md-5 col-sm-12  me-xl-4 me-md-4 rounded-5 d-flex mt-3  Addfavourite   justify-content-center " id="favmissiondiv1" onclick="alertforlogin()">


                                <i class="bi bi-heart-fill" id="heart" style="color:black;" )"></i>


                                <label class="ms-2" id="favmissiondiv" style="color:black;" )">ADD to Favourite</label>





                            </div>
                        }
                        @if (useridforrating != null)
                        {
                            @if (Model.isapplied == 1)
                            {
                                <button class="col col-12 col-xl-6 col-lg-12  col-md-6 col-sm-12 rounded-5 d-flex  mt-3  Addfavourite  justify-content-center" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">

                                    <img src="~/images/add1.png" class="" />


                                    <label class="ms-2"> Recommend to a Co-Worker</label>

                                </button>
                            }
                            else
                            {
                                <button class="col col-12 col-xl-6 col-lg-12  col-md-6 col-sm-12 rounded-5 d-flex  mt-3  Addfavourite  justify-content-center" type="button" onclick="alertforapply()">

                                    <img src="~/images/add1.png" class="" />


                                    <label class="ms-2"> Recommend to a Co-Worker</label>

                                </button>
                            }

                        }
                        else
                        {
                            <button class="col col-12 col-xl-6 col-lg-12  col-md-6 col-sm-12 rounded-5 d-flex  mt-3  Addfavourite  justify-content-center" type="button" onclick="alertforlogin()">

                                <img src="~/images/add1.png" class="" />


                                <label class="ms-2"> Recommend to a Co-Worker</label>

                            </button>
                        }


                        <div class="modal fade modal-dialog-scrollable" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Send Recommend TO</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body overflow-y-auto" style="height:200px;">
                                        @foreach (var user in ViewBag.alluser)
                                        {

                                            <div class="d-flex my-3 bg-light ">
                                                @if (@user.avtarpath != "")
                                                {
                                                    <img src="@user.avtarpath" class="rounded-5 me-5" style="border-radius:50%;width:50px;height:50px">
                                                }
                                                else
                                                {
                                                    <img src="~/Images/user1.png" class="rounded-5 me-5" style="border-radius:50%;width:50px;height:50px">
                                                }
                                                <label class=" ms-4 mt-2 me-auto">   @user.UserName  @user.LastName </label>
                                                <input class="form-check-input me-2 mt-2" type="checkbox" value="" id=@user.UserIdForMail name="mail">
                                            </div>

                                        }
                                    </div>
                                    <div class="modal-footer">

                                        <div class="text-center">
                                            <a class="btn mt-2 landing-page-apply-mission-btn" data-bs-dismiss="modal">
                                                Close
                                            </a>
                                        </div>
                                        <div class="text-center">
                                            <a class="btn mt-2 landing-page-apply-mission-btn" onclick="sendmail(@Model.MissionId)">
                                                Send Mission
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="rule d-flex mt-4" id="starsr">
                        <hr style="border:1px solid black">


                        @if (useridforrating != null)
                        {
                            @if (Model.isapplied == 1)
                            {
                                <div id="ratingstar" class="mt-1">
                                    @if (@Model.Rating != null)
                                    {

                                        int count = 0;

                                        @for (var i = 1; i <= @Model.Rating; i++)
                                        {
                                            <i class="bi bi-star-fill mt-1" style="color:orange" id="@i" onclick="addRating(this.id,@Model.MissionId,@useridforrating)"></i>
                                            count++;
                                        }
                                        @for (var k = count + 1; k <= 5; k++)
                                        {
                                            <i class="bi bi-star-fill mt-1" id="@k" onclick="addRating(this.id,@Model.MissionId,@useridforrating)"></i>
                                        }

                                    }
                                </div>
                            }
                            else
                            {
                                @if (Model.avgrating != null)
                                {
                                    @for (int i = 0; i < Model.avgrating; i++)
                                    {
                                        <img src="~/images/selected-star.png">

                                    }
                                    @for (int? i = Model.avgrating; i < 5; i++)
                                    {
                                        <img src="~/images/star.png">

                                    }
                                }
                            }

                        }
                        else
                        {
                            @if (Model.avgrating != null)
                            {
                                @for (int i = 0; i < Model.avgrating; i++)
                                {
                                    <img src="~/images/selected-star.png">

                                }
                                @for (int? i = Model.avgrating; i < 5; i++)
                                {
                                    <img src="~/images/star.png">

                                }
                            }
                        }


                        <i class="spinner-border spinner-border-sm mt-2 ms-2 me-2" role="status" id="spinner1" style="display:none"></i>
                        <hr style="border:1px solid black">
                    </div>

                    <div class="row d-flex mt-3 d-lg-none d-xl-flex">
                        <div class="card col-md-3  col-6">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill mt-2 mb-auto" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                            </svg>
                            <div class="mt-3 mb-0">
                                <div>city</div>
                                <div>@Model.City</div>
                            </div>
                        </div>
                        <div class="card col-md-3 col-6">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe mt-2 mb-auto" viewBox="0 0 16 16">
                                <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z" />
                            </svg>
                            <div class="mt-3 mb-0">
                                <div>Theme</div>
                                <div>@Model.Theme</div>
                            </div>
                        </div>
                        <div class="card col-md-3 col-6">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-week mt-2 mb-auto" viewBox="0 0 16 16">
                                <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                            </svg>
                            <div class="mt-3 mb-0">
                                <div>Date</div>
                                <div>Ongoing Opportunity</div>
                            </div>
                        </div>
                        <div class="card col-md-3 col-6">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people mt-2 mb-auto" viewBox="0 0 16 16">
                                <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z" />
                            </svg>
                            <div class="mt-3 mb-0">
                                <div>Organization</div>
                                <div>@Model.Organization</div>
                            </div>
                        </div>
                    </div>
                    <div id="applydiv">
                        @if (useridforrating != null)
                        {
                            @if (Model.isclosed == 0)
                            {
                                <div class="text-center">
                                    <button class="btn mt-2 landing-page-apply-mission-btn" style="color:orange" disabled>
                                        Mission Closed
                                    </button>
                                </div>
                            }
                            else
                            {
                                @if (Model.isapplied == 1 || Model.ispending == 1 || Model.isrejected == 1)
                                {
                                    @if (Model.isapplied == 1)
                                    {
                                        <div class="text-center">
                                            <button class="btn mt-2 landing-page-apply-mission-btn " style="color:green" disabled>
                                                Already Applied<i class="bi bi-check-circle ms-2" style="color:green"></i>
                                            </button>
                                        </div>
                                    }
                                    @if (Model.ispending == 1)
                                    {
                                        <div class="text-center">
                                            <button class="btn mt-2 landing-page-apply-mission-btn" style="color:orange" disabled>
                                                Pending
                                            </button>
                                        </div>
                                    }
                                    @if (Model.isrejected == 1)
                                    {
                                        <div class="text-center">
                                            <button class="btn mt-2 landing-page-apply-mission-btn" style="color:red" disabled>
                                                Rejected<i class="bi bi-x-circle ms-2" style="color:red"></i>
                                            </button>
                                        </div>
                                    }
                                }

                                else
                                {
                                    <div class="text-center">
                                        <a class="btn mt-2 landing-page-apply-mission-btn" onclick="applyformission(@Model.MissionId,@useridforrating)">
                                            Apply <img src="~/images/right-arrow.png" alt="">
                                        </a>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <div class="text-center">
                                <a class="btn mt-2 landing-page-apply-mission-btn" onclick="alertforlogin()">
                                    Login or Register first <img src="~/images/right-arrow.png" alt="">
                                </a>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
        </div>
    </div>


    <hr style="border:1px solid black" />

    @*-----------------------------------tab and volunteer----------------------------*@

    <div class="row mt-5 container" style="margin-left:50px">
        <div class="col-12 col-lg-8">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="mission-tab" data-bs-toggle="tab" data-bs-target="#mission" type="button" role="tab" aria-controls="mission" aria-selected="true">Mission</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="org-tab" data-bs-toggle="tab" data-bs-target="#org" type="button" role="tab" aria-controls="org" aria-selected="false">Organization</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Comments</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active ms-3" id="mission" role="tabpanel" aria-labelledby="mission-tab">
                    <h1>Introduction</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <br /><br />
                    <h1>Challenge</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <h1>Documents</h1>
                    @*<div class="row">
                    <div class="col  col-12  col-xl-3 col-lg-12 col-md-3 col-sm-12  me-xl-3 me-md-4 rounded-5 d-flex mt-3  Addfavourite   justify-content-center " onclick='opendoc("/missiondoc/Hetviresume.docx")'>
                    <div><img src="~/images/doc.png" /></div>
                    <label class="ms-2">lorem-ipsum.pdf</label>

                    </div>
                    <div class="col col-12 col-xl-3 col-lg-12  col-md-3 col-sm-12 rounded-5 d-flex  mt-3 Addfavourite  justify-content-center" onclick='opendoc("/missiondoc/Hetviresume.pdf")'>
                    <div><img src="~/images/doc.png" /></div>

                    <label class="ms-2"> Recommend </label>
                    </div>
                    <div class="col col-12 col-xl-3 col-lg-12  col-md-3 col-sm-12 rounded-5 d-flex  mt-3 ms-0 ms-xl-3 ms-lg-0 ms-md-3 Addfavourite  justify-content-center" onclick='opendoc("/missiondoc/CI-Platformdb.xlsx")'>
                    <div><img src="~/images/doc.png" /></div>

                    <label class="ms-2"> Recommend</label>
                    </div>
                    </div>*@
                    <div class="row d-flex justify-content-center">
                        @foreach (var missionDoc in ViewBag.missiondocument)
                        {
                            <button class=" rounded-5 d-flex align-items-center p-2 justify-content-center ms-3 mt-2" style="width:fit-content; height:5vh" onclick="downloadDocument('@missionDoc.DocumentName', '@Convert.ToBase64String(missionDoc.DocumentPath)')">
                                <img src="/images/@(missionDoc.DocumentType).png" />
                                <span class="ms-2">
                                    @missionDoc.DocumentName
                                </span>
                            </button>
                        }
                    </div>

                    <script>
                        function downloadDocument(documentName, documentData) {
                            const byteArray = Uint8Array.from(atob(documentData), c => c.charCodeAt(0));
                            const blob = new Blob([byteArray], { type: 'application/octet-stream' });
                            const url = URL.createObjectURL(blob);
                            const link = document.createElement('a');
                            link.href = url;
                            link.download = documentName;
                            document.body.appendChild(link);
                            link.click();
                            document.body.removeChild(link);
                            
                        }
                    </script>
                </div>
                <div class="tab-pane fade ms-3" id="org" role="tabpanel" aria-labelledby="org-tab">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                </div>
                <div class="tab-pane fade ms-3 abcs" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <textarea style="width:100%" placeholder="Enter Your Comments" id="commenttext"></textarea>
                    @if (useridforrating != null)
                    {
                        <div>
                            <a class="btn mt-2 landing-page-apply-mission-btn" onclick="comment(@Model.MissionId,@Model.UserId)">
                                <span id="post1">Post comments</span>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div>
                            <a class="btn mt-2 landing-page-apply-mission-btn" id="post" onclick="alertforlogin()">
                                <span id="post1">Post comments</span>
                            </a>
                        </div>
                    }

                    @*--------Comments------------*@

                    @*<partial name="_Comment_PartialView"></partial>*@


                    <div class=" col-12 bg-light overflow-y-auto border-1 border-black" style="height:500px;">
                        @if (ViewBag.missioncomment == null)
                        {
                            <div> No Comment Found</div>

                        }
                        else
                        {

                            @foreach (var c in ViewBag.missioncomment)
                            {
                                <div class="col-12 d-flex bg-white mt-3  align-items-center">
                                    @if (c.cmtavtarpath == "" || c.cmtavtarpath == null)
                                    {
                                        <img class="mr-3 rounded-circle col-2" src="~/Images/user1.png" alt="Generic placeholder image" style="height:50px;width:50px">
                                    }
                                    else
                                    {
                                        <img class="mr-3 rounded-circle" src="@c.cmtavtarpath" alt="Generic placeholder image" style="height:50px;width:50px">
                                    }

                                    <div class=" col-9 ms-1 ms-sm-2 ms-ms-4 ms-xl-4  ">
                                        <label class="mx-1 fs-6">@c.UserName</label><br>
                                        <label class="mx-1 fs-6"> @c.createdAt</label>
                                        <div class=" fs-5  text-break "> @c.commenttext</div>
                                    </div>


                                    @if (useridforrating == c.userIdForComment)
                                    {

                                        <div class="col-1 ms-auto"><i class="bi bi-trash bin ms-auto" onclick="deletecomment(@c.userIdForComment,@c.commentId,@Model.MissionId)"></i></div>
                                    }
                                </div>
                            }
                        }

                    </div>

                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="volunteering-sec-2-right-top mt-3">
                <div class="vol-sec-2-right-1st-header">
                    Information
                </div>
                <hr>
                <div class="vol-sec-2-right-1st-sub">
                    <span> Skills</span> <span class="vol-sec-2-right-1st-sub-sec ms-5">
                        Cool, Easy
                        Going, Math, Computer
                    </span>
                </div>
                <hr>
                <div class="vol-sec-2-right-1st-sub">
                    <span>Days</span> <span class="vol-sec-2-right-1st-sub-sec ms-5">
                        Cool, Easy
                        Going, Math, Computer
                    </span>
                </div>
                <hr>
                <div class="vol-sec-2-right-1st-sub" id="avgrating">
                    <span>Ratings</span> <span class="vol-sec-2-right-1st-sub-sec ms-4">
                        @if (Model.avgrating != null)
                        {
                            @for (int i = 0; i < Model.avgrating; i++)
                            {
                                <img src="~/images/selected-star.png">

                            }
                            @for (int? i = Model.avgrating; i < 5; i++)
                            {
                                <img src="~/images/star.png">

                            }
                        }

                    </span>
                    <span class="mt-2">(By @ViewBag.totalvol Volunteers)</span>
                </div>
            </div>

            <div class="volunteering-sec-2-right-down mt-3 recentvol">
                <div class="vol-sec-2-right-2nd-header">Recent Volunteers</div>
                <hr>
                <div class="row" id="recent">

                    @foreach (var item in ViewBag.recentvolunteered)
                    {

                        <div class="col-4">
                            <div class=" ms-4 me-2 text-decoration-none text-black justify-content-center ">
                                @if (item.avtarpath == "" || item.avtarpath == null)
                                {
                                    <img src="~/Images/user1.png" class="involveduserprofile rounded-circle" style="height:80px;width:80px" />
                                }
                                else
                                {
                                    <img src="@item.avtarpath" class="involveduserprofile rounded-circle" style="height:80px;width:80px" />
                                }
                                <label id="" class="text-center">@item.UserName</label>
                            </div>
                        </div>
                    }







                </div>
                <div style="width:100%;margin-left:30%">
                    <i class="spinner-border spinner-border-sm mt-1 ms-4" role="status" id="spinner2" style="height:100px;width:100px;display:none"></i>
                </div>
                <hr>
                <div class="row text-center">


                    <div class="d-flex display-volunteers mt-5" style="text-align:center;">
                        @if (ViewBag.PageIndex > 1)
                        {
                            <button type="button" class="border-0" onclick="recent(@ViewBag.PageIndex - 1,@Model.MissionId)"><img src="~/Images/previous.png" /></button>
                        }
                        <div class="d-flex justify-content-center" style="width:100%;">@ViewBag.TotalVol Recent Volunteers</div>
                        @if (ViewBag.PageIndex < ViewBag.TotalPages)
                        {
                            <button type="button" onclick="recent(@ViewBag.PageIndex + 1,@Model.MissionId)" class="previous-btn ms-auto border-0"><img src="~/Images/next.png" /></button>
                        }
                    </div>

                </div>
            </div>
        </div>
        <div class="mt-4">
            <partial name="_Related_Partial" />
        </div>

        <hr />
        <partial name="_FooterPartial" />
</body>
<script>
    function recent(index, missionid) {
        var spinner = document.getElementById('spinner2');
        var recent = document.getElementById('recent');
        recent.style.display = 'none';
        spinner.style.display = 'block';

        $.ajax({
            url: '/Employee/Home/Volunteering',
            type: 'POST',
            data: { pageindex: index, missionId: missionid },
            success: function (response) {

                $('.recentvol').html($(response).find('.recentvol').html());
                $('#avgrating').html($(response).find('#avgrating').html());
                spinner.style.display = 'none';
                recent.style.display = 'none';
            },
            error: function () {
                alert("could not like mission");
            }
        });
    }
    function opendoc(url) {
        window.open(url);
    }
    function addRating(starId, missionId, Id) {
        var spinner = document.getElementById('spinner1');
        var rating = document.getElementById('ratingstar');
        rating.style.display = 'none';
        spinner.style.display = 'block';

        $.ajax({
            url: '/Employee/Home/Addrating',
            type: 'POST',
            data: { missionId: missionId, Id: Id, rating: starId },
            success: function (response) {

                $('#starsr').html($(response).find('#starsr').html());
                $('#avgrating').html($(response).find('#avgrating').html());
                spinner.style.display = 'none';

            },
            error: function () {
                alert("could not add rating");
            }
        });
    }
    function addtofav(missionId, Id) {
        var spinner = document.getElementById('spinner');
        spinner.style.display = 'block';
        $.ajax({
            url: '/Employee/Home/AddToFav',
            type: 'POST',
            data: { MissionId: missionId, UserId: Id },
            success: function (response) {

                $('#favmissiondiv1').html($(response).find('#favmissiondiv1').html());
                spinner.style.display = 'none';
            }
        });
    }


    function applyformission(missionid, userid) {
        $.ajax({

            url: '/Employee/Home/applymission',
            type: 'POST',
            data: { MissionId: missionid, UserId: userid },

            success: function (response) {

                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Successfully Applied',
                    showConfirmButton: false,
                    timer: 2500
                })
                $('#applydiv').html($(response).find('#applydiv').html());
                $('#availableseat').html($(response).find('#availableseat').html());
                $('#starsr').html($(response).find('#starsr').html());
                $('.recentvol').html($(response).find('.recentvol').html());
            }


        });
    }
</script>
<script>
    function alertforlogin() {
        Swal.fire({
            position: 'top-end',
            icon: 'warning',
            width: '300',
            height: '100',
            title: 'Please Login or Register First',
            showConfirmButton: false,
            timer: 1500
        })
    }
    function alertforapply() {
        Swal.fire({
            position: 'top-end',
            icon: 'warning',
            width: '300',
            height: '100',
            title: 'Please Apply first for recommandation',
            showConfirmButton: false,
            timer: 1500
        })
    }
    function comment(mid, uid) {
        var text = document.getElementById("commenttext").value;
        var post = document.getElementById("post1");

        if (text != "") {
            post.innerHTML = "Posting";
            $.ajax({
                url: '/Employee/Home/comment',
                type: 'POST',
                data: { MissionId: mid, UserId: uid, comment: text },
                success: function (response) {
                    console.log(response);
                    $('.abcs').html($(response).find('.abcs').html());
                    post.innerHTML = "Posted";
                    //$('.comment_div').html($(response).find('.comment_div').html());

                },
                error: function () {
                    alert("could not comment");
                }
            });
        }
        else {
            Swal.fire({
                icon: 'warning',
                title: "Can't post the comment!",
                text: 'Comment text can not be empty!',
                showConfirmButton: false,
                timer: 1500,

            })
        }

    }
    function deletecomment(uId, cId, mId) {

        $.ajax({
            url: '/Employee/Home/CommentDelete',
            type: 'POST',
            data: { userId: uId, commentId: cId, missionId: mId },
            success: function (result) {
                console.log(result);
                $('#contact').html($(result).find('#contact').html());

            },
            error: function () {
                alert("could not comment");
            }
        });
    }

</script>
</html>

<script src="~/js/Volunteering.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

