@{
    var firstname = Context.Session.GetString("UserID");
    var avtarpath = Context.Session.GetString("avtarpath");
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bothnavbar.css">


</head>
<body>
    <div class=" mainheader fixed-top">

        <nav class="navbar navbar-expand-md navbar-light  header  pb-1" aria-label="Eighth navbar example">
            <div class="container">

                <button class="btn  hamburger " type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                    <img src="~/images/list.png">
                </button>


                <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
                     aria-labelledby="offcanvasWithBothOptionsLabel">
                    <div class="offcanvas-header">
                        <h2 class="mt-2 me-2">CI-PLATFORM</h2>
                        <button type="button" class="btn-close " data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body navbar-nav me-auto mb-2 mb-lg-0 align-self-center">
                        @if (firstname == null)
                        {
                            <a asp-action="Login" asp-controller="Home" class="btn btn-outline-primary me-3 d-none d-md-block">Login</a>
                            <a asp-action="Register" asp-controller="User" class="btn btn-outline-success d-none d-md-block">Register</a>
                        }
                        else
                        {
                            <div class=" dropdown text-end ">
                                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                    @if (avtarpath != "")
                                    {
                                        <img src="@avtarpath" alt="mdo" width="40" height="40" class="rounded-circle">
                                    }
                                    else
                                    {
                                        <img src="~/Images/user1.png" alt="mdo" width="40" height="40" class="rounded-circle">
                                    }
                                    @{
                                        if (@firstname != null)
                                        {
                                            <span class="txt text-dark">@firstname</span>
                                        }
                                    }

                                </a>
                                <ul class="dropdown-menu text-small">
                                    <li><a class="dropdown-item" asp-action="landingpage" asp-controller="Home">Dashboard</a></li>
                                    <li><a class="dropdown-item" asp-action="storyDraft" asp-controller="Home">Show Draft</a></li>
                                    <li><a class="dropdown-item" asp-action="VolunteeringTimeSheet" asp-controller="Home">Timesheet</a></li>
                                    <li><a class="dropdown-item" asp-action="UserProfile" asp-controller="Home">Profile</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Logout">Sign out</a></li>
                                </ul>
                            </div>
                        }



                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-action="storyListing" asp-controller="Home">Story</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Policy</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="landingpage" asp-controller="Home">Dashboard</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </div>
                </div>

                <h2 class="nav-brand ms-3 me-auto">CI-PLATFORM</h2>
                <ul class="navbar-nav  navbar1  me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-action="storyListing" asp-controller="Home">Story</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Policy</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-action="landingpage" asp-controller="Home">Dashboard</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                @if (firstname == null)
                {
                    <a asp-action="Login" asp-controller="Home" class="btn btn-outline-primary me-3 d-none d-md-block">Login</a>
                            <a asp-action="Register" asp-controller="User" class="btn btn-outline-success d-none d-md-block">Register</a>
                }
                else
                {
                    <div class="dropdown text-end userprofile ">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                       aria-expanded="false">
                            @if (avtarpath != "")
                            {
                                <img src="@avtarpath" alt="mdo" width="40" height="40" class="rounded-circle">
                            }
                            else
                            {
                                <img src="~/Images/user1.png" alt="mdoooooooooooooo" width="40" height="40" class="rounded-circle">
                            }
                            @{
                                if (@firstname != null)
                                {
                                    <span class="txt text-dark">@firstname</span>
                                }
                            }
                        </a>
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" asp-action="landingpage" asp-controller="Home">Dashboard</a></li>
                            <li><a class="dropdown-item" asp-action="storyDraft" asp-controller="Home">Show Draft</a></li>
                            <li><a class="dropdown-item" asp-action="VolunteeringTimeSheet" asp-controller="Home">Timesheet</a></li>
                            <li><a class="dropdown-item" asp-action="UserProfile" asp-controller="Home">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Logout">Sign out</a></li>
                        </ul>
                    </div>
                }

            </div>
        </nav>


        <!-- navbar-2 -->


    </div>

    <main>
        @RenderBody()
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>

    @*<script src="~/js/filter.js"></script>*@
</body>
</html>